body {
    width: 790px; /* Set the width of the popup */
    font-family: Arial, sans-serif; /* Set the font family for the entire document */
}

h1 {
    font-size: 2.5em; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Dark text color */
    text-align: left; /* Center align the text */
    margin-top: 20px; /* Add some space above the title */
    margin-bottom: 20px; /* Add some space below the title */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
    font-family: 'Arial', sans-serif; /* Use a clean, sans-serif font */
}

label {
    display: inline-block;
    width: 150px; /* Set a fixed width for the labels */
}

#search, #title {
    width: calc(100% - 210px); /* Adjust the width of the input fields to account for the label width and some padding */
}

.button-link-container {
    display: flex;
    align-items: center; /* Center align items vertically */
    gap: 10px; /* Add some space between the button and the link */
    margin-top: 20px;
    text-align: center; /* Center the link */
}

#pattern-table {
    table-layout: fixed; /* Ensure fixed table layout */
    width: 99%; /* Ensure the table takes the full width */
    border-collapse: collapse; /* Ensure borders are collapsed */
    margin-top: 20px; /* Add 20px of space above the table */
}

/* Style for the header row */
#pattern-table thead {
    background-color: #dadada; /* Light grey background */
    border-bottom: 2px solid #000; /* Solid bottom border */
}

/* Style for the header cells */
#pattern-table th {
    font-weight: bold; /* Bold text */
    text-align: left; /* Left align text */
    padding: 10px; /* Padding for header cells */
    color: #333; /* Dark text color */
}

/* Default padding for table cells */
#pattern-table th, #pattern-table td {
    border: 2px solid #000; /* Add border to table cells */
    padding: 5px; /* Add padding to table cells */
    height: 2.3em; /* Set the desired height */
}

#pattern-table td:nth-child(1) {
    font-weight: bold; /* Make the text bold */
}

/* Center the text in the Action header */
#pattern-table th:nth-child(3) {
    text-align: center; /* Center align text */
}

/* Ensure the Action column is centered */
#pattern-table td:nth-child(3) {
    text-align: center; /* Center align text */
}

/* Style for input fields within the table */
.search-input, .title-input {
    width: 99%; /* Set a fixed width for the input fields within the table */
    box-sizing: border-box; /* Ensure padding is included in the width */
    height: 30px; /* Set a fixed height for the input fields */
}

/* Column widths */
#pattern-table th:nth-child(1) {
    width: 10%; /* Width for Type column */
    text-align: center; /* Center the header text */
    font-weight: bold; /* Make the text bold */
}

#pattern-table th:nth-child(2) {
    width: 75%; /* Width for Info column */
}

#pattern-table th:nth-child(3) {
    width: 17%; /* Width for Action column */
}

#pattern-table td:nth-child(1) {
    text-align: center; /* Center the type values */
}

#pattern-table td:nth-child(3) {
    text-align: center; /* Center the buttons horizontally */
}

#pattern-table td:nth-child(3) button {
    display: inline-block; /* Keep buttons side by side */
    margin: 0 2px; /* Add some space between the buttons */
}

.header-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: flex-start; /* Left justify the text */
    /* margin-left: 5px; */
}

.bold-text {
    font-weight: bold;
}

.normal-text {
    font-weight: normal;
}

#match-type {
  padding: 5px;
  font-size: 14px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 99%;
}

.form-group label {
    width: 150px; /* Adjust the width as needed */
    margin-right: 10px;
    text-align: right; /* Right align the labels */
}

.form-group select,
.form-group input {
    flex: 1;
    padding: 5px;
    font-size: 14px;
}

.notes-link,
.add-pattern-button {
    height: 100%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    cursor: pointer; /* Change cursor to pointer */
}

.add-pattern-button {
    margin-left: 160px;
}

.add-pattern-button:hover,
.notes-link:hover {
    background-color: #0056b3;
}

.notes-link img.open-icon {
    margin-left: 8px; /* Space between text and icon */
    margin-top: -3px; /* Adjust vertical alignment */
    vertical-align: middle; /* Align icon with text */
    width: 16px; /* Adjust icon size */
    height: 16px; /* Adjust icon size */
    filter: invert(1); /* Invert colors */
}

.narrow {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding: 0px;
    text-align: center;
}

/* Remove top and bottom margins for cells in edit mode */
.no-margin {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: table-cell;
    align-items: center;
}

.open-options-link {
    position: absolute;
    top: 10px;
    left: 620px; /* Change from left to right */
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
    font-size: 14px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.open-options-link:hover {
    background-color: #0056b3;
}