body {
    min-width: 790px; /* Set the width of the popup */
    font-family: Arial, sans-serif; /* Set the font family for the entire document */
    margin-right: 8px; /* Add some space on the right side */
    background-color: #f0f2f5; /* Light grey background */
    color: #333; /* Dark text color */
}

h1 {
    font-size: 2.5em; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    color: #007bff; /* Blue text color */
    text-align: left; /* Center align the text */
    margin-top: 15px; /* Add some space above the title */
    margin-bottom: 15px; /* Add some space below the title */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
    font-family: 'Arial', sans-serif; /* Use a clean, sans-serif font */
}

label {
    display: inline-block;
    width: 150px; /* Set a fixed width for the labels */
    color: #555; /* Slightly lighter text color */
}

#search, #title {
    width: calc(99% - 210px); /* Adjust the width of the input fields to account for the label width and some padding */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Add padding */
}

.button-link-container {
    display: flex;
    align-items: center; /* Center align items vertically */
    /* margin-bottom: 10px; */
    text-align: center; /* Center the link */
    margin-top: 10px; /* Add space above buttons */
}

#pattern-form {
    margin-right: 10px; /* Add some space on the right side */
}

#pattern-table {
    table-layout: fixed; /* Ensure fixed table layout */
    width: 100%; /* Ensure the table takes the full width */
    border-collapse: collapse; /* Ensure borders are collapsed */
    margin-top: 10px; /* Add 20px of space above the table */
    background-color: #fff; /* White background */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Clip content */
    box-shadow: 0 0 0 1px black; /* Add a 1px solid black border using box-shadow */
}

/* Style for the header row */
#pattern-table thead {
    background-color: #007bff; /* Blue background */
    border-bottom: 2px solid #000; /* Solid bottom border */
    color: #fff; /* White text */
}

/* Default font weight for all table cells */
#pattern-table th, #pattern-table td {
    font-weight: normal; /* Set font weight to normal */
    border: none; /* Remove borders */
    padding: 3px; /* Add padding to table cells */
    height: 3.25em; /* Set the desired height */
    box-sizing: border-box; /* Include padding in height calculation */
}

/* Font weight for the header row */
#pattern-table th {
    font-weight: bold; /* Make the header text bold */
    text-transform: uppercase; /* Uppercase text */
}

/* Style for input fields within the table */
.search-input, .title-input {
    font-family: 'Consolas', 'Menlo', 'Source Code Pro', 'Fira Code', 'Courier New', Courier, 'Lucida Console', 'Monaco', monospace;
    font-size: 14px;
    width: 100%; /* Set a fixed width for the input fields within the table */
    box-sizing: border-box; /* Ensure padding is included in the width */
    height: 30px; /* Set a fixed height for the input fields */
}

/* Column widths */
#pattern-table th:nth-child(2) {
    width: auto; /* Width for Info column */
}

#pattern-table td:nth-child(2) {
    font-family: 'Consolas', 'Menlo', 'Source Code Pro', 'Fira Code', 'Courier New', Courier, 'Lucida Console', 'Monaco', monospace;
}

#pattern-table th:nth-child(1) {
    text-align: center; /* Center the buttons horizontally */
}

#pattern-table td:nth-child(1) {
    text-align: center; /* Center the type values */
    background-color: #f9f9f9; /* Light grey background */
}

#pattern-table td:nth-child(1) button {
    display: inline-block; /* Keep buttons side by side */
    margin: 0 2px; /* Add some space between the buttons */
    text-align: center; /* Center align text */
    background-color: #dc3545; /* Red background */
    color: #fff; /* White text */
    border-radius: 5px; /* Rounded corners */
}

#pattern-table td:nth-child(1) button:hover {
    background-color: #c82333; /* Darker red on hover */
}

#pattern-table tr:nth-child(even) td {
    background-color: #f1f1f1; /* Slightly darker grey for even rows */
}

#pattern-table th:nth-child(2),
#pattern-table td:nth-child(2) {
    width: 100%;
}

#pattern-table th:nth-child(1),
#pattern-table td:nth-child(1) {
    width: 10ch; /* Fixed width for the third column */
}

.header-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: flex-start; /* Left justify the text */
}

.normal-text {
    font-weight: normal;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* width: 99%; */
}

.form-group label {
    width: 150px; /* Adjust the width as needed */
    margin-right: 10px;
    text-align: right; /* Right align the labels */
}

.form-group select,
.form-group input {
    flex: 1;
    padding: 5px;
    font-size: 14px;
}

.form-group select {
    flex: 0;
}

.notes-link,
.add-pattern-button {
    height: 100%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
    cursor: pointer; /* Change cursor to pointer */
    border: none; /* Remove border */
    font-weight: bold; /* Bold text */
}

.add-pattern-button:hover,
.notes-link:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Slight lift on hover */
}

.add-pattern-button.disabled {
    background-color: #ccc; /* Grey background */
    cursor: not-allowed; /* Change cursor to not-allowed */
}

button:disabled {
    background-color: #ccc; /* Grey background */
    cursor: not-allowed; /* Change cursor to not-allowed */
    opacity: 0.5; /* Optional: reduce opacity to indicate disabled state */
}

.notes-link img.open-icon {
    margin-left: 8px; /* Space between text and icon */
    margin-top: -3px; /* Adjust vertical alignment */
    vertical-align: middle; /* Align icon with text */
    width: 16px; /* Adjust icon size */
    height: 16px; /* Adjust icon size */
    filter: invert(1); /* Invert colors */
}

.notes-link {
    margin-left: 5px; /* Add space between buttons */
}

/* Remove top and bottom margins for cells in edit mode */
.no-margin {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    display: table-cell;
    align-items: center;
}

.open-options-link {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px;
    border-radius: 5px; /* Rounded corners */
    font-size: 14px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.open-options-link:hover {
    background-color: #0056b3;
}

.collapsible-content {
    display: none;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #fff; /* White background */
    border-radius: 5px; /* Rounded corners */
}

.toggle-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #007bff; /* Blue text color */
    width: 99%;
    height: 20px;
}

.toggle-arrow.collapsed::before {
    content: '\25B6'; /* Right-pointing arrow */
    width: 20px;
    margin-bottom: 3px;
}

.toggle-arrow.expanded::before {
    content: '\25BC'; /* Down-pointing arrow */
    width: 20px;
}

.toggle-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 99%;
    height: 20px;
}

#toggle-options {
    margin-top: 10px;
}

.monospace-font {
    font-family: 'Consolas', 'Menlo', 'Source Code Pro', 'Fira Code', 'Courier New', Courier, 'Lucida Console', 'Monaco', monospace;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Add padding */
}

.action-button {
    width: 60px; /* Set a fixed width */
}